<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
	<head th:include="fragments/layout :: htmlhead" th:with="title=#{criacaoParametro}"/>

	<body role="document">
		<div th:replace="fragments/layout :: navbar"></div>
	
		<div class="container-fluid">
			<div class="row-fluid row-content"> 
	            <!-- Breadcrumb -->
	            <ul class="breadcrumb">
	              <li><a href="#">Home</a> <span class="divider"></span></li>
	              <li><span th:text="#{criar}"></span> <span class="divider"></span></li>
	              <li class="active"><span th:text="#{parametro}"></span></li>
           		</ul>
       		</div>
         		
			<form id="parametroForm" class="form-horizontal" action="#" th:action="@{/createParametro}" th:object="${createParametroForm}" th:method="post"
				  data-bv-feedbackicons-valid="glyphicon glyphicon-ok" 
				  data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
				  data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">
				<fieldset>
					<legend th:text="#{parametro}"></legend>
					<div th:replace="fragments/layout :: text-field(name=chave, label=#{chave},
									 field=parametro.chave, required=true, maxLength=50, autofocus=true)"></div>
					
					<div th:replace="fragments/layout :: text-field(name=valor, label=#{valor},
									 field=parametro.valor, required=true, maxLength=300)"></div>
					
					<div th:replace="fragments/layout :: text-field(name=descricao, label=#{descricao},
									 maxLength=200, field=parametro.descricao, required=true, numRows=2)"></div>
					
					<div th:replace="fragments/layout :: text-field(name=descricaoObjetivo, label=#{descricaoObjetivo},
									 maxLength=4000, field=parametro.descricaoObjetivo, numRows=4)"></div>

					<div class="form-group">
						<label class="control-label col-xs-3" for="grupoParametro">
							<span th:text="#{grupoParametro}"></span>
							<span th:class="span-red" th:text="'*'"></span>
						</label>
			
						<div class="col-xs-9">
							<select	th:field="*{parametro.grupoParametro}" class="form-control" id="grupoParametro" data-bv-notempty="true">
								<option th:each="grupoParametro : ${grupoParametros}" th:value="${grupoParametro.id}"
									    th:text="${grupoParametro.descricao}"></option>
							</select>
						</div>
					</div>
				</fieldset>
			
			    <fieldset>
					<legend th:text="#{opcaoParametro}"></legend>
					<div class="table-responsive">
						<table class="table table-condensed table-bordered table-striped table-hover">
							<thead>
								<tr class="info">
									<th>#</th>
									<th th:text="#{ativo}"></th>
									<th th:text="#{descricao}"></th>
									<th>
										<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addOpcaoParametroModal">
											<span class="glyphicon glyphicon-plus"></span> <span th:text="#{adicionarOpcaoParametro}"></span>
									    </button>
									</th>
								</tr>
							</thead>
	
							<tbody>
								<tr th:each="opcaoParametro : *{parametro.opcoesParametros}">
									<td th:text="${opcaoParametroStat.count}"></td>
									<td th:text="${opcaoParametro.flagAtivo}"></td>
									<td th:text="${opcaoParametro.descricaoOpcaoParametro}"></td>
									<td>
										<a th:href="@{|/createParametro/removerOpcaoParametro/${opcaoParametroStat.index}|}" class="btn btn-danger" type="button">
									  		<span class="glyphicon glyphicon-remove"></span> <span th:text="#{removerOpcaoParametro}"></span>
										</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</fieldset>
				
				<div th:replace="fragments/layout :: group-button"></div>
			</form>
			
			<div id="addOpcaoParametroModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="addOpcaoParametroModalLabel" aria-hidden="true">
		        <div class="modal-dialog modal-lg">
		            <div class="modal-content">
		                <div class="modal-header">
		                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		                    <h4 class="modal-title" id="addOpcaoParametroModalLabel" th:text="#{adicionarOpcaoParametro}"></h4>
		                </div>
		                
		                <div class="modal-body">
		                	<form id="opcaoParametroForm" class="form-horizontal"
		                		  th:object="${createParametroForm}"
		                		  th:action="@{/createParametro/adicionarOpcaoParametro}"
		                		  data-bv-feedbackicons-valid="glyphicon glyphicon-ok" 
			  					  data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
			  					  data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">
								
								<div th:replace="fragments/layout :: checkbox-field(name='ativo', label=#{ativo}, field=opcaoParametro.flagAtivo)"></div>
						        
						        <div th:replace="fragments/layout :: text-field(name='descricaoOpcaoParametro', label=#{descricao}, 
												 field=opcaoParametro.descricaoOpcaoParametro, required=true, maxLength=200, autofocus=true)"></div>
				                
				                <div th:replace="fragments/layout :: modal-group-button-footer(name=adicionarOpcaoParametro)"></div>
		                	</form>
		                </div>
		                
		            </div>
		        </div>
		    </div>
		</div>
		
		<div th:replace="fragments/layout :: footer"></div>
	</body>
	
	<script>
		$(document).ready(function() {
		    $('#parametroForm').bootstrapValidator({
		    	
		    });
		});
		
		$(document).ready(function() {
		    $('#opcaoParametroForm').bootstrapValidator({
// 		        excluded: [':disabled'],
		    });
		});
	</script>
</html>